In [2]:
import pandas as pd
import sqlite3

In [3]:
conn = sqlite3.connect("test.db")

In [6]:
df

,id,created_at,updated_at,deleted_at,stock_request_id,time_stamp,open,high,low,close,adjusted_close,volume,dividend,split_coefficient
0,2,2020-01-23 16:24:24.556856-08:00,2020-02-01 12:55:14.458442-08:00,None,2,2020-01-23,147.0000,147.6200,146.620,147.12,147.12,8411937.0,0.0,1.0
1,3,2020-01-23 16:24:24.561403-08:00,2020-02-01 12:55:14.45963-08:00,None,2,2020-01-22,146.6800,146.8100,146.380,146.79,146.79,4772215.0,0.0,1.0
2,4,2020-01-23 16:24:24.564524-08:00,2020-02-01 12:55:14.46063-08:00,None,2,2020-01-21,145.7700,146.8600,145.551,146.74,146.74,6076269.0,0.0,1.0
3,5,2020-01-23 16:24:24.595624-08:00,2020-02-01 12:55:14.461586-08:00,None,2,2020-01-17,146.5100,146.9900,146.310,146.58,146.58,11119151.0,0.0,1.0
4,6,2020-01-23 16:24:24.598344-08:00,2020-02-01 12:55:14.462579-08:00,None,2,2020-01-16,146.2313,146.4658,145.755,146.31,146.31,6051756.0,0.0,1.0

In [11]:
df = pd.read_sql_query("SELECT * FROM Stock_Time_Series INNER JOIN Stock_Requests ON Stock_Time_Series.stock_request_id = Stock_Requests.id;", conn)

In [12]:
df

,id,created_at,updated_at,deleted_at,stock_request_id,time_stamp,open,high,low,close,...,volume,dividend,split_coefficient,id,created_at,updated_at,deleted_at,function,symbol,interval
0,2,2020-01-23 16:24:24.556856-08:00,2020-02-01 12:55:14.458442-08:00,None,2,2020-01-23,147.0000,147.6200,146.620,147.12,...,8411937.0,0.0,1.0,2,2020-01-23 16:24:23.492766-08:00,2020-01-23 16:24:23.492766-08:00,None,TIME_SERIES_DAILY_ADJUSTED,GLD,na
1,3,2020-01-23 16:24:24.561403-08:00,2020-02-01 12:55:14.45963-08:00,None,2,2020-01-22,146.6800,146.8100,146.380,146.79,...,4772215.0,0.0,1.0,2,2020-01-23 16:24:23.492766-08:00,2020-01-23 16:24:23.492766-08:00,None,TIME_SERIES_DAILY_ADJUSTED,GLD,na
2,4,2020-01-23 16:24:24.564524-08:00,2020-02-01 12:55:14.46063-08:00,None,2,2020-01-21,145.7700,146.8600,145.551,146.74,...,6076269.0,0.0,1.0,2,2020-01-23 16:24:23.492766-08:00,2020-01-23 16:24:23.492766-08:00,None,TIME_SERIES_DAILY_ADJUSTED,GLD,na
3,5,2020-01-23 16:24:24.595624-08:00,2020-02-01 12:55:14.461586-08:00,None,2,2020-01-17,146.5100,146.9900,146.310,146.58,...,11119151.0,0.0,1.0,2,2020-01-23 16:24:23.492766-08:00,2020-01-23 16:24:23.492766-08:00,None,TIME_SERIES_DAILY_ADJUSTED,GLD,na
4,6,2020-01-23 16:24:24.598344-08:00,2020-02-01 12:55:14.462579-08:00,None,2,2020-01-16,146.2313,146.4658,145.755,146.31,...,6051756.0,0.0,1.0,2,2020-01-23 16:24:23.492766-08:00,2020-01-23 16:24:23.492766-08:00,None,TIME_SERIES_DAILY_ADJUSTED,GLD,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12538,12540,2020-02-01 12:55:28.256739-08:00,2020-02-01 12:55:28.256739-08:00,None,4,2006-05-04,139.5000,142.8700,136.800,140.00,...,1107500.0,0.0,1.0,4,2020-02-01 12:55:22.067348-08:00,2020-02-01 12:55:22.067348-08:00,None,TIME_SERIES_DAILY_ADJUSTED,SLV,na
12539,12541,2020-02-01 12:55:28.258675-08:00,2020-02-01 12:55:28.258675-08:00,None,4,2006-05-03,144.5000,144.6400,134.130,139.25,...,1514100.0,0.0,1.0,4,2020-02-01 12:55:22.067348-08:00,2020-02-01 12:55:22.067348-08:00,None,TIME_SERIES_DAILY_ADJUSTED,SLV,na
12540,12542,2020-02-01 12:55:28.260476-08:00,2020-02-01 12:55:28.260476-08:00,None,4,2006-05-02,142.4500,144.0000,141.000,143.65,...,1251100.0,0.0,1.0,4,2020-02-01 12:55:22.067348-08:00,2020-02-01 12:55:22.067348-08:00,None,TIME_SERIES_DAILY_ADJUSTED,SLV,na
12541,12543,2020-02-01 12:55:28.262039-08:00,2020-02-01 12:55:28.262039-08:00,None,4,2006-05-01,141.0000,141.7900,137.500,138.70,...,1478600.0,0.0,1.0,4,2020-02-01 12:55:22.067348-08:00,2020-02-01 12:55:22.067348-08:00,None,TIME_SERIES_DAILY_ADJUSTED,SLV,na
12542,12544,2020-02-01 12:55:28.263862-08:00,2020-02-01 12:55:28.263862-08:00,None,4,2006-04-28,129.0000,140.0000,128.640,138.12,...,2343000.0,0.0,1.0,4,2020-02-01 12:55:22.067348-08:00,2020-02-01 12:55:22.067348-08:00,None,TIME_SERIES_DAILY_ADJUSTED,SLV,na